<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bad Pun China</title>
  </head>
  <body>
    <h1> Blockchain </h1>
    <p>Accounts & Balances</p>
    <ul>
      {% for item in data[0] %}
          <li>Name : {{item}},   Balance : {{data[0][item]}}</li>
      {% endfor %}
    </ul>
    <p>Pending Transactions</p>
    <ul>
      {% for item in data[1] %}
          <li>From : {{data[1][item].From}}</li>
          <li>To : {{data[1][item].To}}</li>
          <li>Amount : {{data[1][item].Amount}}</li>
      {% endfor %}
    </ul>
    <p>Chain</p>
    <ul>
      {% for item in data[2] %}
          <li>{{item}}</li>
      {% endfor %}
    </ul>

  </body>
</html>